.myheader .show-when-mobile {
  display: none;
}

.myheader .ali {
  background-color: teal;
}

@media (max-width: 800px) {
  .myheader .show-when-mobile {
    display: block;
  }

  .myheader .hide-when-mobile {
    display: none;
  }
}
